h2, p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.seatingPlan {
  float: left;
  width: 50%;
}
.decor {
  float: left;
  width: 50%;
}
.screenNo {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 1%;
}
.screenInfo {
  padding-left: 2%;
}
.screenImg {
  max-width: 80%;
  width: 50em;
  height: auto;
}
.divInfo {
  padding-left: 4%;
}
.screenType {
  padding-bottom: 1%;
}
