h2, table {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#leftCol {
  float: left;
  width: 30%;
}
#middleCol {
  float: left;
  width: 30%;
}
#rightCol {
  float: left;
  width: 30%;
}

.contactHeading {
  margin-left: 3%;
  float: left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding-right: 2%;
}
.messageHeading {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding-right: 2%;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

mat-form-field {
  min-width:auto !important;
  .mat-form-field-infix {
    width: auto;
  }
}

.mat-form-field-infix {
  width: auto !important;
}

.form-full-width {
    display: inline-block;
    min-width: 10em;
    max-width: 50em;
    width:30em;
}

.input-full-width {
  min-width: 10em;
  max-width: 50em;
  width:30em;
}

#messageSaveBtn {
  min-width: 10em;
  max-width: 50em;
  width:35em;
}

#messageForm {
  text-align: center;
}
