<h2>Contact Us</h2>
<br />

<div id="messageForm">
  <p class="messageHeading">
    Send a message:
  </p>
  <form  novalidate #f="ngForm" class="form-full-width">
    <table>
      <tr>
        <td>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Name">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input-full-width">
            <textarea rows="6" matInput placeholder="Message"></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <button id="messageSaveBtn" mat-raised-button color="primary">Send Message</button>
        </td>
      </tr>
    </table>
  </form>
</div>

<br style="clear:both" />
<br style="clear:both" />
<br style="clear:both" />
<div id="leftCol">
  <p class="contactHeading">
    Address:
  </p>
  <table>
    <tr>
      <td>
         Anchorage 1
      </td>
    </tr>
    <tr>
      <td>
        Anchorage Quay
      </td>
    </tr>
    <tr>
      <td>
        Salford Quays
      </td>
    </tr>
    <tr>
      <td>
         Salford
      </td>
    </tr>
    <tr>
      <td>
        Manchester
      </td>
    </tr>
    <tr>
      <td>
        M50 3YJ
      </td>
    </tr>
  </table>
</div>
<div id="middleCol">
  <p class="contactHeading">
    Contact Numbers:
  </p>
  <table>
    <tr>
      <td>
         01273 022670
      </td>
    </tr>
    <tr>
      <td>
        0161 393 2271
      </td>
    </tr>
    <tr>
      <td>
        +1 866 683 2202
      </td>
    </tr>
  </table>
</div>
<div id="rightCol">
  <p class="contactHeading">
    Social Media:
  </p>
  <table>
    <tr>
      <td>
        <i class="fas fa-envelope"></i> <a href="mailto:cinema@qa.com"> cinema@qa.com</a>
      </td>
    </tr>
    <tr>
      <td>
        <i class="fab fa-twitter"></i> <a href="https://twitter.com/qaconsultinguk"> @QACinemas</a>
      </td>
    </tr>
    <tr>
      <td>
        <i class="fab fa-facebook"></i> <a href="https://en-gb.facebook.com/QAConsultingUK/"> facebook.com/QAConsultingUK/</a>
      </td>
    </tr>
    <tr>
      <td>
        <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/company/qaconsulting"> linkedin.com/company/qaconsulting</a>
      </td>
    </tr>
  </table>
</div>
