<div [hidden]="!bookingState">
  <div>
    <p>
      You are currently booking a ticket for <span>{{showing.film.title}}</span>, on <span>{{showing.date}}</span>
      at <span>{{showing.time}}</span>.
      <br>
   </p>
  </div>
    <div>
      <p>
        Please enter the name for the booking:
      </p>
      <label>Name: </label>
      <input type="text" [(ngModel)]="this.booking.customerName" />
    </div>
    <p>
      Please select tickets:
    </p>
    <div>
      <label>Adults: </label>
      <input type="number" [(ngModel)]="this.booking.adultTickets" value="0" min="0" max="10" />
    </div>
    <div>
      <label>Concessions: </label>
      <input type="number" [(ngModel)]="this.booking.concessionTickets" value="0" min="0" max="10" />
    </div>
    <div>
      <label>Child: </label>
      <input type="number" [(ngModel)]="this.booking.childTickets" value="0" min="0" max="10" />
    </div>
    <div id="paypal-button"></div>
  </div>

<div [hidden]="bookingState">
  <p>
    Booking Details <br><br>
    You have booked to see <span>{{showing.film.title}}</span>, on <span>{{showing.date}}</span>
    at <span>{{showing.time}}</span>.
    <br>
    Name : <span>{{this.booking.customerName}}</span><br>
    Adult Tickets: <span>{{this.booking.adultTickets}}</span><br>
    Concession Tickets : <span>{{this.booking.concessionTickets}}</span><br>
    Child Tickets : <span>{{this.booking.childTickets}}</span><br>
  </p>

</div>
