#headerLogo {
  height: inherit;
}

#header{

}


.mat-toolbar {
  background-color: #6cf;
  box-shadow: 0px 5px 8px #000000;
}

.mat-card-content {
  width: inherit;
  text-align: center;
  align-content: center;
  align: center;
  /* background-color: #6cf; */
}

/* * {
  background-color: #0057ff;
} */

.mat-button {
  width: inherit;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2em;
}
.mat-menu {
  width: 400px;
}
.mat-menu-content {
  width: 400px;
}

#matCardContent {
  width: 400px;
}

#footer {
  position:relative;
  left: 0;
  bottom: 0;
  width: 99%;
  height:20%;   /* Height of the footer */
  background:#6cf;
}

#body {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  flex: 1;
}

ul {
  background-color: #6cf;
  padding: 0;
  width: 33%;
  float: left;
  list-style-type: none;
  font-size: 0.8em;
  text-align: center;
}

li {
  background-color: #6cf;
}

a {
  color: black;
  text-decoration:none;
  background-color: #6cf;
}
a:hover {
  font-weight: bold;
}
