<mat-toolbar>
  <mat-toolbar-row>
  </mat-toolbar-row>
  <mat-toolbar-row>

      <mat-card-content>
        <button mat-button [matMenuTriggerFor]="menu">
          Films
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>What's On</span>
          </button>
          <button mat-menu-item>
            <span>Future Releases</span>
          </button>
        </mat-menu>
      </mat-card-content>




    <button mat-button>Booking</button>
    <button mat-button>Information</button>
    <button mat-button>Contact</button>
    <button mat-button>Future Releases</button>
  </mat-toolbar-row>
</mat-toolbar>
